/*
 * Reset all elements
 * https://elad.medium.com/the-new-css-reset-53f41f13282e
 * 
 */
* {
    all: unset; /* this action provide that all elements set unset value */
    display: revert; /* this attribute provide that set default display value for each element. */
}

/*
 * https://www.w3schools.com/howto/default.asp
 * https://www.w3schools.com/css/default.asp
 *
 */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.strong-th {
    text-align: center!important;
    background-color: #3b4d96 !important;
    color: white;
    border-right: 1px solid #ffffff!important;
}

.strip-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.strip-table > caption {
    font-size: xxx-large;
    background-color: #101d4e;
    color: white;
    padding: 3rem;
}

.strip-table td, .strip-table th {
    padding: 10px;
}

.strip-table tr:nth-child(odd) {
    background-color: #d6e3ff;
}

.strip-table tbody tr:hover {
    background-color: #101d4e;
    color: white;
    cursor: pointer;
}

.strip-table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #91beff;
    font-size: 18px;
    position: sticky;
    top: 0;
    cursor: cell;
}

/*
 * LINK
 */
a:link, a:visited {
    background-color: white;
    color: #101d4e;
    border: 2px solid #3b4c96;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #3b4c96;
    color: white;
    cursor: pointer!important;
}

/*
 * MENU
 *
 */
#menu {
    margin-left: auto;
    margin-right: auto;
}

#menu td {
    padding: 15px;
}

/*
IMAGE
 */
.iconic-image {
    width: 22px;
    vertical-align: text-bottom;
}

/**
Profile Table
 */

.profile-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7edff;
}

.profile-table > caption {
    font-size: xxx-large;
    background-color: #101d4e;
    color: white;
    padding: 3rem;
}

.profile-table td, .profile-table th {
    padding: 10px;
    border: 1px solid #3b4c96;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.profile-table th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #91beff;
    font-size: 18px;
    position: sticky;
    top: 0;
    cursor: cell;
}

.profile-table tr:nth-child(odd) {
    background-color: #d6e3ff;
}
